*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fef9f2;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

img {
  max-width: 100%;
  width: 4rem;
  height: 4rem;
  display: block;
}

.panel-container {
  background-color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
  max-width: 40rem;
}

.panel-container strong {
  line-height: 2rem;
}

.ratings-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  margin: 2rem 0;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: 2rem;
  margin: 1rem 0.5rem;
}

.rating:hover,
.rating.active {
  border-radius: 4px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.rating small {
  color: #555;
}

.rating:hover small,
.rating.active small {
  color: #111;
}

.btn {
  background-color: #302d2b;
  font-family: inherit;
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 1.2rem 3rem;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 5px rgb(0 0 0 / 50%);
}

.btn:active {
  transform: scale(0.98);
}

.fa-heart {
  color: red;
  font-size: 3rem;
  margin-bottom: 1rem;
}
