*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #efefbb;
  background: linear-gradient(to right, #d4d3dd, #efefbb);
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.magic {
  background-color: #f9ca24;
  color: #fff;
  font-family: inherit;
  font-size: 1.6rem;
  letter-spacing: 1px;
  border: none;
  border-radius: 0.3rem;
  padding: 1.2rem 2rem;
  cursor: pointer;
  box-shadow: 0 3px rgba(249, 202, 36, 0.5);
  z-index: 100;
  position: fixed;
  top: 2rem;
}

.magic:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(0 0 0 / 50%);
}

.magic:active {
  transform: translateY(3px);
  box-shadow: none;
}

.boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 50rem;
  height: 50rem;
  position: relative;
  transition: transform 400ms ease;
}

.boxes.big {
  width: 60rem;
  height: 60rem;
}

.boxes.big .box {
  transform: rotateZ(360deg);
}

.box {
  background-image: url('https://media.giphy.com/media/EZqwsBSPlvSda/giphy.gif');
  background-repeat: no-repeat;
  background-size: 50rem 50rem;
  position: relative;
  height: 12.5rem;
  width: 12.5rem;
  transition: transform 400ms ease;
}

.box::after {
  content: '';
  background-color: #f6e58d;
  position: absolute;
  top: 0.8rem;
  right: -1.5rem;
  height: 100%;
  width: 1.5rem;
  transform: skewY(45deg);
}

.box::before {
  content: '';
  background-color: #f9ca24;
  position: absolute;
  left: 0.8rem;
  bottom: -1.5rem;
  width: 100%;
  height: 1.5rem;
  transform: skewX(45deg);
}
